In [1]:
import pandas as pd

In [2]:
cf = pd.read_csv("Data\Cafeteria_inspection_data_cleaned.csv")

In [3]:
#In future revisions adding this smoothly with a proper join is the goal, but for now this is just the 

en = pd.read_csv("Data/2021SchoolYearEnrollmentByBorough.csv")

In [5]:
cf.describe()

,ZipCode,PTET,LATITUDE,LONGITUDE,COMMUNITYBOARD,COUNCILDISTRICT,CENSUSTRACT,BIN,BBL,BOROCODE
count,10942.000000,11093.000000,11093.000000,11093.000000,10942.000000,11093.000000,10942.000000,1.088000e+04,1.109300e+04,11093.000000
mean,10895.816852,2530.937889,40.715508,-73.929995,286.875525,27.458127,39160.660939,2.924761e+06,2.772769e+09,2.780672
std,515.710848,1.457172,0.083525,0.078320,107.279709,14.663363,33574.986465,1.131412e+06,1.140226e+09,1.076977
min,10001.000000,2529.000000,40.507893,-74.244116,101.000000,1.000000,100.000000,1.000000e+06,1.000000e+00,1.000000
25%,10455.000000,2530.000000,40.643653,-73.979893,206.000000,15.000000,15500.000000,2.041260e+06,2.029390e+09,2.000000
50%,11207.000000,2530.000000,40.703534,-73.940061,308.000000,31.000000,27300.000000,3.116438e+06,3.032410e+09,3.000000
75%,11231.000000,2533.000000,40.780013,-73.890070,318.000000,39.000000,53000.000000,3.398406e+06,3.081880e+09,3.000000
max,11694.000000,2533.000000,40.906892,-73.709136,503.000000,51.000000,162100.000000,5.170018e+06,5.078980e+09,5.000000

In [6]:
cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11093 entries, 0 to 11092
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Record ID             11093 non-null  object
 1   SchoolName            11093 non-null  object
 2   Number                11093 non-null  object
 3   Street                11093 non-null  object
 4   City                  10657 non-null  object
 5   State                 11093 non-null  object
 6   Borough               11093 non-null  object
 7   ZipCode               10942 non-null  float64
 8   LastInspection        11093 non-null  object
 9   Permittee             11093 non-null  object
 10  InspectionDate        11093 non-null  object
 11  PTET                  11093 non-null  int64
 12  Site Type             11093 non-null  object
 13  Level                 7974 non-null   object
 14  Code                  7974 non-null   object
 15  ViolationDescription  7974 non-null   object
 16  LATITUDE              11093 non-null  float64
 17  LONGITUDE             11093 non-null  float64
 18  COMMUNITYBOARD        10942 non-null  float64
 19  COUNCILDISTRICT       11093 non-null  int64
 20  CENSUSTRACT           10942 non-null  float64
 21  BIN                   10880 non-null  float64
 22  BBL                   11093 non-null  int64
 23  NTA                   10942 non-null  object
 24  BOROCODE              11093 non-null  int64
dtypes: float64(6), int64(4), object(15)
memory usage: 2.1+ MB

In [7]:
en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Borough               15 non-null     object
 1   Schooling Status      15 non-null     object
 2   2021-2022 Enrollment  15 non-null     int64
dtypes: int64(1), object(2)
memory usage: 488.0+ bytes

In [8]:
en.head()

    Borough Schooling Status  2021-2022 Enrollment
0     Bronx           Public                158295
1     Bronx          Private                 23954
2     Bronx   Home Schooling                  2284
3  Brooklyn           Public                256706
4  Brooklyn          Private                116725

In [9]:
cf.head()

,Record ID,SchoolName,Number,Street,City,State,Borough,ZipCode,LastInspection,Permittee,...,ViolationDescription,LATITUDE,LONGITUDE,COMMUNITYBOARD,COUNCILDISTRICT,CENSUSTRACT,BIN,BBL,NTA,BOROCODE
0,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",350,YETMAN AVENUE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,Non-food contact surface or equipment made of ...,40.507893,-74.242738,503.0,51,24401.0,5088090.0,5078940001,SI11,5
1,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",350,YETMAN AVENUE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,NaN,40.507893,-74.242738,503.0,51,24401.0,5088090.0,5078940001,SI11,5
2,40540220,P.S. 001 TOTTENVILLE,58,SUMMIT STREET,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,Anti-siphonage or back-flow prevention device ...,40.509029,-74.244116,503.0,51,24401.0,5107854.0,5078980001,SI11,5
3,40540220,P.S. 001 TOTTENVILLE,58,SUMMIT STREET,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,NaN,40.509029,-74.244116,503.0,51,24401.0,5107854.0,5078980001,SI11,5
4,40540237,SOUTH RICHMOND HS (Bldg 24) PS/IS 25,6581,HYLAN BOULEVARD,NaN,NY,Staten Island,10309.0,12/7/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,NaN,40.509077,-74.220928,503.0,51,19800.0,5123970.0,5076640001,SI01,5

In [10]:
cf["Address"] = cf["Number"] + " " + cf["Street"]

In [11]:
cf.head()

,Record ID,SchoolName,Number,Street,City,State,Borough,ZipCode,LastInspection,Permittee,...,LATITUDE,LONGITUDE,COMMUNITYBOARD,COUNCILDISTRICT,CENSUSTRACT,BIN,BBL,NTA,BOROCODE,Address
0,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",350,YETMAN AVENUE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.507893,-74.242738,503.0,51,24401.0,5088090.0,5078940001,SI11,5,350 YETMAN AVENUE
1,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",350,YETMAN AVENUE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.507893,-74.242738,503.0,51,24401.0,5088090.0,5078940001,SI11,5,350 YETMAN AVENUE
2,40540220,P.S. 001 TOTTENVILLE,58,SUMMIT STREET,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.509029,-74.244116,503.0,51,24401.0,5107854.0,5078980001,SI11,5,58 SUMMIT STREET
3,40540220,P.S. 001 TOTTENVILLE,58,SUMMIT STREET,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.509029,-74.244116,503.0,51,24401.0,5107854.0,5078980001,SI11,5,58 SUMMIT STREET
4,40540237,SOUTH RICHMOND HS (Bldg 24) PS/IS 25,6581,HYLAN BOULEVARD,NaN,NY,Staten Island,10309.0,12/7/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.509077,-74.220928,503.0,51,19800.0,5123970.0,5076640001,SI01,5,6581 HYLAN BOULEVARD

In [12]:
cf.drop(columns=["Number", "Street"])

,Record ID,SchoolName,City,State,Borough,ZipCode,LastInspection,Permittee,InspectionDate,PTET,...,LATITUDE,LONGITUDE,COMMUNITYBOARD,COUNCILDISTRICT,CENSUSTRACT,BIN,BBL,NTA,BOROCODE,Address
0,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,12/21/2022,2530,...,40.507893,-74.242738,503.0,51,24401.0,5088090.0,5078940001,SI11,5,350 YETMAN AVENUE
1,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,3/10/2022,2530,...,40.507893,-74.242738,503.0,51,24401.0,5088090.0,5078940001,SI11,5,350 YETMAN AVENUE
2,40540220,P.S. 001 TOTTENVILLE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,12/21/2022,2530,...,40.509029,-74.244116,503.0,51,24401.0,5107854.0,5078980001,SI11,5,58 SUMMIT STREET
3,40540220,P.S. 001 TOTTENVILLE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,3/10/2022,2530,...,40.509029,-74.244116,503.0,51,24401.0,5107854.0,5078980001,SI11,5,58 SUMMIT STREET
4,40540237,SOUTH RICHMOND HS (Bldg 24) PS/IS 25,NaN,NY,Staten Island,10309.0,12/7/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,1/18/2022,2530,...,40.509077,-74.220928,503.0,51,19800.0,5123970.0,5076640001,SI01,5,6581 HYLAN BOULEVARD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11088,50117998,MOSS OUTPOST AT SAR HIGH SCHOOL,Bronx,NY,Bronx,10471.0,3/20/2023,MOSS CAFE LLC,3/20/2023,2529,...,40.906892,-73.904271,208.0,11,32300.0,2086339.0,2059570152,BX22,2,503 WEST 259 STREET
11089,50117998,MOSS OUTPOST AT SAR HIGH SCHOOL,Bronx,NY,Bronx,10471.0,3/20/2023,MOSS CAFE LLC,5/25/2022,2529,...,40.906892,-73.904271,208.0,11,32300.0,2086339.0,2059570152,BX22,2,503 WEST 259 STREET
11090,50117998,MOSS OUTPOST AT SAR HIGH SCHOOL,Bronx,NY,Bronx,10471.0,3/20/2023,MOSS CAFE LLC,5/25/2022,2529,...,40.906892,-73.904271,208.0,11,32300.0,2086339.0,2059570152,BX22,2,503 WEST 259 STREET
11091,50117998,MOSS OUTPOST AT SAR HIGH SCHOOL,Bronx,NY,Bronx,10471.0,3/20/2023,MOSS CAFE LLC,3/20/2023,2529,...,40.906892,-73.904271,208.0,11,32300.0,2086339.0,2059570152,BX22,2,503 WEST 259 STREET
11092,50117998,MOSS OUTPOST AT SAR HIGH SCHOOL,Bronx,NY,Bronx,10471.0,3/20/2023,MOSS CAFE LLC,3/20/2023,2529,...,40.906892,-73.904271,208.0,11,32300.0,2086339.0,2059570152,BX22,2,503 WEST 259 STREET

In [13]:
cf = cf.drop(columns=["COMMUNITYBOARD", "CENSUSTRACT", "BBL", "NTA", "BOROCODE", "Number", "Street"])

In [14]:
cf.head()

,Record ID,SchoolName,City,State,Borough,ZipCode,LastInspection,Permittee,InspectionDate,PTET,Site Type,Level,Code,ViolationDescription,LATITUDE,LONGITUDE,COUNCILDISTRICT,BIN,Address
0,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,12/21/2022,2530,FSE (Public School Cafeteria),G,10F,Non-food contact surface or equipment made of ...,40.507893,-74.242738,51,5088090.0,350 YETMAN AVENUE
1,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,3/10/2022,2530,FSE (Public School Cafeteria),NaN,NaN,NaN,40.507893,-74.242738,51,5088090.0,350 YETMAN AVENUE
2,40540220,P.S. 001 TOTTENVILLE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,12/21/2022,2530,FSE (Public School Cafeteria),G,10B,Anti-siphonage or back-flow prevention device ...,40.509029,-74.244116,51,5107854.0,58 SUMMIT STREET
3,40540220,P.S. 001 TOTTENVILLE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,3/10/2022,2530,FSE (Public School Cafeteria),NaN,NaN,NaN,40.509029,-74.244116,51,5107854.0,58 SUMMIT STREET
4,40540237,SOUTH RICHMOND HS (Bldg 24) PS/IS 25,NaN,NY,Staten Island,10309.0,12/7/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,1/18/2022,2530,FSE (Public School Cafeteria),NaN,NaN,NaN,40.509077,-74.220928,51,5123970.0,6581 HYLAN BOULEVARD

In [15]:
cf.insert(19, '2021-2022 Segment Enrollment', 'x')

In [16]:
# Create  new column "Public Status" with empty values - inserting was not a great call
cf["Public Status"] = ""

In [17]:
# Loop through the rows of the dataframe in Column "Site Type" to set the public/private type
# Note: Column must be named "Site Type" exactly or the code will very reasonably assume all schools are private. Check column headers and correct as necessary.
for i in range(len(cf)):
  # Check if the column "Site Type" contains "FSE (Public School Cafeteria)"
  if cf.loc[i, "Site Type"] == "FSE (Public School Cafeteria)":
    # Write "Public" in the column "Public Status"
    cf.loc[i, "Public Status"] = "Public"
  else:
    # Write "Private" in the column "Public Status"
    cf.loc[i, "Public Status"] = "Private"

In [18]:
for row in cf.iterrows():

    # Get the value of the Borough column
    borough = row[1]['Borough']

    # Get the value of the Public Status column
    public_status = row[1]['Public Status']

    # Check if the Borough column contains Brooklyn
    if borough == 'Brooklyn':

        # Check if the Public Status column contains Public
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 260855

        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 116725
    elif borough == 'Bronx':
         # Check if the Public Status column contains Public
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 168582

        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 23954
            
    elif borough == 'Queens':
         # Check if the Public Status column contains Public
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 263898
        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 39686
    elif borough == 'Manhattan':
         # Check if the Public Status column contains Public
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 152463
        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 49856
    else:
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 61797
        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 11337

In [19]:
cf.head()

,Record ID,SchoolName,City,State,Borough,ZipCode,LastInspection,Permittee,InspectionDate,PTET,...,Level,Code,ViolationDescription,LATITUDE,LONGITUDE,COUNCILDISTRICT,BIN,Address,2021-2022 Segment Enrollment,Public Status
0,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,12/21/2022,2530,...,G,10F,Non-food contact surface or equipment made of ...,40.507893,-74.242738,51,5088090.0,350 YETMAN AVENUE,61797,Public
1,40547725,"I.S. 034 TOTTENVILLE, SOUTH RICHMOND HIGH SCHO...",NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,3/10/2022,2530,...,NaN,NaN,NaN,40.507893,-74.242738,51,5088090.0,350 YETMAN AVENUE,61797,Public
2,40540220,P.S. 001 TOTTENVILLE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,12/21/2022,2530,...,G,10B,Anti-siphonage or back-flow prevention device ...,40.509029,-74.244116,51,5107854.0,58 SUMMIT STREET,61797,Public
3,40540220,P.S. 001 TOTTENVILLE,NaN,NY,Staten Island,10307.0,12/21/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,3/10/2022,2530,...,NaN,NaN,NaN,40.509029,-74.244116,51,5107854.0,58 SUMMIT STREET,61797,Public
4,40540237,SOUTH RICHMOND HS (Bldg 24) PS/IS 25,NaN,NY,Staten Island,10309.0,12/7/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,1/18/2022,2530,...,NaN,NaN,NaN,40.509077,-74.220928,51,5123970.0,6581 HYLAN BOULEVARD,61797,Public

In [20]:
#You'll need to manually put this into the Tableau data folder

cf.to_csv("DOHMH Cafeteria Inspections and Segment Enrollment.csv")